<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxs.core.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.dxs.core.domain.Role">
    <id column="pk_id" jdbcType="INTEGER" property="pkId" />
    <result column="uk_name" jdbcType="VARCHAR" property="ukName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_id, uk_name, remark, delete_flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where pk_id = #{pkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where pk_id = #{pkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dxs.core.domain.Role">
    <selectKey keyProperty="pkId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_role (uk_name, remark, delete_flag, 
      create_time, update_time)
    values (#{ukName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dxs.core.domain.Role">
    <selectKey keyProperty="pkId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ukName != null">
        uk_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ukName != null">
        #{ukName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxs.core.domain.Role">
    update sys_role
    <set>
      <if test="ukName != null">
        uk_name = #{ukName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_id = #{pkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxs.core.domain.Role">
    update sys_role
    set uk_name = #{ukName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pk_id = #{pkId,jdbcType=INTEGER}
  </update>

  <!-- 自定义 -->

  <resultMap id="RoleResultMap" type="java.util.HashMap">
    <id column="pk_id" jdbcType="INTEGER" property="pkId" />
    <result column="uk_name" jdbcType="VARCHAR" property="ukName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>


  <select id="getRolesByAdminId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select sr.* from sys_role as sr left join sys_admin_role as sar on sr.pk_id=sar.role_id where sar.amdin_id=#{adminId}
  </select>


  <!-- 分页列表 -->
  <select id="listPage" parameterType="java.util.HashMap" resultMap="RoleResultMap">
    select
     pk_id,
     uk_name,
     remark,
     create_time
    from sys_role
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      delete_flag=0
      <if test="keyword != null and keyword != ''">
        AND ( uk_name LIKE CONCAT('%', #{keyword}, '%') or
        remark LIKE CONCAT('%', #{keyword}, '%') )
      </if>
    </trim>
    order by create_time DESC
  </select>
  <!-- 数量统计 -->
  <select id="countPage" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select
    count(1)
    from sys_role
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      delete_flag=0
      <if test="keyword != null and keyword != ''">
        AND ( uk_name LIKE CONCAT('%', #{keyword}, '%') or
        remark LIKE CONCAT('%', #{keyword}, '%') )
      </if>
    </trim>
  </select>


</mapper>